.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
testes-ruben/turma
.vscode/c_cpp_properties.json
testes-ruben/.vscode/settings.json
testes-ruben/.vscode/tasks.json
lab2/.vscode/tasks.json
.gitignore
lab2/.vscode/settings.json
